@font-face {
  font-family: "BerkaLight";
  src: url("../assets/fonts/BerkaLight9YGyn.eot");
  src:
    url("../assets/fonts/BerkaLight9YGyn.eot") format("embedded-opentype"),
    url("../assets/fonts/BerkaLight9YGyn.woff2") format("woff2"),
    url("../assets/fonts/BerkaLight9YGyn.woff") format("woff"),
    url("../assets/fonts/BerkaLight9YGyn.ttf") format("truetype"),
    url("../assets/fonts/BerkaLight9YGyn.svg#BerkaLight9YGyn") format("svg");
  font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-block cursor-pointer rounded-md border-none bg-primary-500 px-5 py-2.5 text-base text-primary-foreground no-underline transition hover:bg-primary-600;
  }
}

@layer utilities {
  .dot-separated > *:nth-child(n + 2)::before {
    font-size: 0.9rem;
    content: "•";
    margin: 0 0.5rem;
  }
  .container {
    @apply mx-auto max-w-[728px] p-5;
  }
}
* {
  font-family: "BerkaLight";
}
body {
  max-width: 90rem;
  background-color: #121120;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.cloud-gradient {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    45deg,
    #ffffff,
    #a3e6ff,
    #6dd5fa,
    #2980b9,
    #9333ea
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    -65deg,
    #ffffff,
    #a3e6ff,
    #6dd5fa,
    #2980b9,
    #9333ea,
    #121120
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
a {
  @apply text-link;
}
main {
  @apply mt-8;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
