---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

type Props = {
  title: string;
  description: string;
  frontmatter?: {
    title: string;
    description: string;
  };
};

const { frontmatter } = Astro.props;
const title = frontmatter?.title || Astro.props.title;
const description = frontmatter?.description || Astro.props.description;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="mx-auto justify-start min-h-screen">
    <Nav />
    <main class="grid min-h-full place-items-center bg-[#121120] mx-auto px-6 py-24 sm:py-32 lg:px-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
